@inherits GitHubDashboard.Web.Features.Layout.MainLayoutModel;
@using GitHubDashboard.Web.Features.Login;
@using GitHubDashboard.Web.Shared;


@if (AuthCheckProcessCompleted == false)
{
    <em>Loading....</em>
}
else
{
    @if (IsAuthenticated)
    {
        <div class="wrapper">
            <div class="wrapper">
                <Sidebar></Sidebar>
                <div class="main-panel">
                    <NavMenu></NavMenu>
                    <div class="content">
                        @Body
                        <footer class="footer">
                            <div class="container">
                                <div class="copyright">
                                    &copy;
                                    @CurrentYear. #Blazor FTW!
                                </div>
                            </div>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <Login></Login>
    }
}


